<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title> Choose Your Action</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/testChat.css">
    <script src='/javascripts/postquiz.js'></script>
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>    
  </head>
  <body onunload="">
     <script src="/socket.io/socket.io.js"></script>
    <p style="display:none" id="hiitNumber"><%= hiitNumber %></p>
<script type="text/javascript">
// alert('called1');
window.onbeforeunload = function() {
        return "Please do not leave this page except through the 'Go to payment' button. \n If not, you will be disqualified and will not be paid";
    }
</script>
<div class='container' id='fullPage'>
  <div class='row'>
      <div class='col-md-6' id='actions'>
        <p>Welcome</p>
        <div class='alert alert-success'>Please wait while we initiate the agent.</div>
        <div class='row'><table class='table'><tr><td id='myPayoff'></td><td></td><td></td><td></td><td id='otherPayoff'></td></tr></table></div>

      <div class="alert alert-warning" id='timerStart'> <span id='timerBegin'></span></div>
      </div>

      <nav role="navigation" class="col-md-6">
        <ul class="nav nav-tabs"  role="tablist">
        <li role="presentation" class="active" id="chatBoxContainerLink"><a data-toggle="tab" aria-controls="chatBoxContainer" role="tab" href="#chatBoxContainer">Chat</a></li>
        <li role="presentation"><a data-toggle="tab" aria-controls="gameHistory" role="tab" href="#gameHistory">Result</a></li>
        </ul>

        <div class="tab-content">
        <div role="tabpanel" class='tab-pane active panel panelChat panel-primary' id='chatBoxContainer'>
            <!-- <div class="panel panelChat panel-primary"> -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Talk to the expert
                    <div class="btn-group pull-right">
                        <span id="typingText" style="display:none; color:#00ff00"> typing... </span>
                    </div>
                </div>
                <div class="panel-body panel-bodyChat panelchat-body" id="panelBody">
                    <ul class="chat" id="chatItems">
                    </ul>
                </div>
                <div class="panel-footer" id='questionAndFeedback' style='visibility:hidden'>
                    <div class="input-group"  style="border-bottom: 5px #ffffff solid; ">
                      <select id="questionSelect">
                        <option value='0' id='agentQuestionDefault'> ...... </option>
                        <option value="1" id='agentQuestion1'> Tell me about my opponent</option>
                        <option value="2" id='agentQuestion2'> What should I do now?</option>
                        <option value="3" id='agentQuestion3'> Why?</option>
                        <option value="4" id='agentQuestion4'> Why shouldn't I do otherwise?</option>
                        <option value="5" id='agentQuestion5'> How do I do better?</option>
                      </select> 
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="agentQuestionSubmit">
                                Send</button>
                        </span>
                    </div>
                

                    <div class="input-group">
                    <select id="feedbackSelect">
                        <option value='0' id='feedbackQuestionDefault'> ...... </option>
                        <option value='1' id='feedbackQuestion1'> I am right </option>
                        <option value='2' id='feedbackQuestion2'> You were wrong. </option>
                    </select> 
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="feedbackSubmit">
                                Send Feedback</button>
                        </span>
                    </div>
                </div>

          <!-- </div> -->

        </div> <!-- //chat box container -->



      <div role="tabpanel" class='tab-pane panel panelChat panel-primary' id='gameHistory'>
          <!-- <div class="panel panelChat panel-primary"> -->
                <div class="panel-heading">
                  <p>Your total payoff <span id="myTotalPayoff"></span> </p>
                </div>
                <div class="panel-body panel-bodyChat" id="gameHistoryTable">
                </div>
          <!-- </div> -->
      </div>  
    </div>  <!-- tab content -->
</nav>

  </div> <!--main row div -->

</div>

<div class="row">

  <div class="col-sm-6" id="informationAlgo">

  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        These are the boys there.
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agitationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="agitationModalLabel">Please make a choice</h4>
      </div>
      <div class="modal-body" id="agitationModalBody">
        
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<script src="/javascripts/ChatBox.js"></script>
<script src="/javascripts/canvas.js"></script>
  </body>
</html>