<html>
<head>
<link rel='stylesheet' href='../public/stylesheets/bootstrap.min.css' />
<link rel="stylesheet" type="text/css" href="../public/stylesheets/testChat.css">


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat" id="chatItems">
                        <li>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div style="background-color: #d9edf7; border-bottom: 5px #ffffff solid;" class="pull-right"> My talk is nice and I expect you to do better things.<p> <span class='pull-right' style="color:#000000; font: italic bold 12px Georgia, serif;">Round 1</span></p> </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-sm-10" style="background-color: #edf7d9;">
                                My talk is nice and I expect you to do better things
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading">Questions</div>
            <div class="panel-body">
            <table class='table'>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='agentQuestion1'> Tell me about my opponent</td></tr>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='agentQuestion2'> What should I do now?<br></td></tr>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='agentQuestion3'> Why?<br></td></tr>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='agentQuestion4'> Why shouldn't I do otherwise?<br></td></tr>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='agentQuestion5'> How do I do better?<br></td></tr>
            <tr><td><button class='button pull-right' id='agentQuestionSubmit'>Send Questions</button></td></tr>
            </table>
            </div></div>
        </div>
    
    <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading">Feedback</div>
            <div class="panel-body">
            <table class='table'>
            <tr><td><input type="checkbox" name="vehicle" value="Bike" id='feedbackQuestion1'> I am right</td></tr>
            <tr><td><input type="checkbox" name="vehicle" value="Bike"  id='feedbackQuestion2'> You were wrong.<br></td></tr>
            <tr><td><button class='button pull-right' id='feedbackSubmit'>Send Feedback</button></td></tr>
            </table>
            </div></div>
        </div>


    </div>
</div>
      <script src="../public/javascripts/ChatBox.js"></script>
</body>
</html>