<html>
  <head>
  <meta http-equiv='Content-Type' content='text/html; charset=ISO-8859-1'>
  <title><%= numbero %> Choose Your Action</title>

    <link rel='stylesheet' href='../public/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='../public/stylesheets/style.css' />


  </head>
  <body>

    <div id="actions"></div>
    <div id="recommender"></div>
      <script src="../public/javascripts/postquiz.js"></script>
  <script type="text/javascript">
  var endGame = function(cummulative, numberOfRounds, playerHadRecommender)
    {
      var htmlString = "<div class=\"alert alert-warning\"> Thank you very much, The game is over. You had a total of " + cummulative  +" points</div>";

          htmlString += "<div class=\"panel panel-default col-sm-8 col-sm-offset-2 \"><div class=\"panel-heading\"> Please fill in the survey below</div><div class=\"panel-body\">";
          htmlString += postQuizQuestions(playerHadRecommender, cummulative, numberOfRounds);

          htmlString += "</div></div>";
          var actionsElement = document.getElementById('actions');
          actionsElement.innerHTML = htmlString;
          document.getElementById('recommender').innerHTML = '';
    }

    endGame(20, 10, true);
  </script>


</body>
</html>