<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
            
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/actionPhase.css' />
    <script type="text/javascript">
        var validateAnswers = function()
            { 
                    if(!(document.getElementById('confirmation').checked))
                    {
                      alert('Please check the confirmation box on page 1');
                      return false;
                    }
                    var correct = true;
                    var correctAnswers = [0, 1, 3]
                    for(var i = 0; i < 3; i++)
                    {
                      var value = -1;
                      var radios = document.getElementsByName((i + 1) + "");
                      for (var j = 0; j < radios.length; j++) {
                          if (radios[j].checked) {
                          // get value, set checked flag or do whatever you need to
                          value = radios[j].value;       
                          }
                      }
                      if(value != correctAnswers[i])
                      {
                          alert("Some of the answers are incorrect. Please read the tutorial properly and answer the questions");
                          return false;
                      }
                    }
                  return true;    
            }
    </script>



  </head>

  <body>


<div id="container" class='container-fluid'>
  <div class='col-sm-2'>
  </div>
  <div class='col-sm-8'>  
  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading"><b><span id='pageheader'>Lets teach you how to play games!</span></b></div>
      <div class="panel-body" >
        <div id='page1' style='display:block'>
          <p>Thank you for deciding to participate in the experiment.
          
          We are a research team at Masdar Institute and Massachusetts Institute of Technology (MIT), and we seek your participation in furthering our understanding of human behavior in games.
          
          <p>You can make a reasonable amount of money from this game depending on the decisions
          you make. You are therefore advised to read the following instructions carefully in order to
          make informed decisions throughout the course of the game. Your participation in this game
          will take approximately 30 minutes.
          
          <p>For your participation, you will be compensated with the task's standard reward of 1USD, as
          well as a significant bonus that depends on your performance in the experiment. These will
          be paid out at the end of the game, provided you follow all instructions, and play the game
          till the end. Also, you are only allowed to play this game once. If we find from our records
          that you played more than once, you will not be paid for other than the first time.
          
          <p>You will complete 2 stages before starting the game itself. In the first stage, you will be
          provided with a walkthrough of the game via screenshots of the actual game interface along
          with the instructions for the game. In the second stage, you will be asked three comprehension
          questions to test your understanding of the game.
          
          <p>After passing the comprehension test, you will be placed in a waiting room. The game will
          start as soon as another crowdFlower worker joins the game, at which point a beep will alert
          you. If this does not happen within 300 seconds (there will be a timer counting down), you
          have the option of leaving with just the task's standard reward or you may continue waiting
          if you wish).
          
          <p>Please confirm that you are willing to participate in good faith, using the following checkbox. If you are not willing to do so, please return the assignment.

           <p style='padding-left:5em'> 

            <input type='checkbox' id='confirmation'> I understand that this game requires my undivided attention for up to 30 minutes, and I am willing to commit said time and attention until the game comes to an end.


                            </div>
                            
                            <div id='page2' style='display:none'>
                              <p><b>Please read the instructions carefully, as you will be quizzed about them, and your earnings depend on your performance too.</b>
              <p> <b>YOUR ASSOCIATE</b>
          As a participant in this experiment, you will play a simple game with a human. The game will only be played once, each game consisting of a number of rounds. You are matched with the same person across all rounds of the game. 
            <img src="/images/image.png" style="display: block; margin: 0 auto;" class='col-md-12' />
          </div>
                            
                            <div id='page3' style='display:none'>
                          <p>
                          In each round of the game, you and your associate will be individually offered a
choice between two actions, A or B. To submit your choice, click on the button that
has that choice written on it. Once you click on a button, it will disappear and you
have to wait for your associate to also submit his choice to move to the next round.
In any given round, you will not be able to see the choice of your associate until after
you both submit your choices and the round ends.
                          <div>
                            <img src="/images/tutorial/screenshot1.png" class='col-md-12' style="display: block; margin: 0 auto;" />

                            </div>
                        </div>

                        <div id='page4' style='display:none'>
                          <p>
                          To help you make the right choices in the game, you will have the ability to chat with
a Bot. <b><u>This Bot is an intelligent algorithm that knows how to play the game
very well. It can assist you in picking the right choice and also give you
feedback on your performance. It is able to give your feedback on your
associate’s performance too. </u></b> There are 3 possible questions that you can ask the
Bot which will be explained in the following pages. You can ask all 3 questions in
each round of the game to help you play well. To ask a question, you click on the
text of the question in the box at bottom-left portion of the screen labelled “YOU”.
                          <div>
                            <img src="/images/tutorial/screenshot2.png" class='col-md-12' style="display: block; margin: 0 auto;" />

                            </div>
                            <p>Question 1: What are my Options?
                            <p>Once you click on this question, it goes into the chat box on the right and the Bot
starts to respond. It responds with a list of 2/3 possible “ways” you can play the
game from the current round. The first option given is however the recommended
and it is highlighted for you. Each option is a complete plan, stating the actions you
should take, the actions expected of your associate, what you should do if your
associate does not comply and why that option is a good one. You should follow the
recommended option for the specified number of rounds to get the maximum
benefit. An example is shown in the screenshot below:
                      
                      <div>
                            <img src="/images/tutorial/screenshot3.png" class='col-md-12' style="display: block; margin: 0 auto;" />

                            </div>
                        </div>
          <div id='page5' style='display:none'>
          <p>What should I do know?
<p>Once you click on this question, the Bot tells you the specific action, A or B, to pick in
the present round. It also gives you a feedback about what happened in the previous
round. For example, it tells you whether you followed its recommendation or not and
whether your associate complied with his/her part of the plan. It also lets you know
if you are doing great or if you can do better!

          
          <div>
                  <img src="/images/tutorial/screenshot4.png" style="display: block;"  class='col-md-12'/>
      </div>
                            </div>

          <div id='page6' style='display:none'>
          <p>Tell me about my associate?
<p>Again by clicking on this question, the Bot gives you information about your
associate. It tells you on average how mean (does not cooperate) or cooperative,
how lenient (willing to let you get away with a defection) and how forgiving
(punishes a defection but willing to still cooperate afterwards) he/she has been.
Your conversation with the Bot will be available in a dialogue box throughout the
game and you can freely scroll up or down to view your chat history.
          
          <div>
                  <img src="/images/tutorial/screenshot5.png" style="display: block;"  class='col-md-12'/>
      </div>
                            </div>



            <div id='page7' style='display:none'>
          At the end of the round, when you have finished asking your questions and gotten
answers from the expert Bot, the points obtained by both of you will be highlighted
for you to see. Your points in each round will depend on your choice and the choice
of your opponent. This gives rise to the four possible scenarios as shown in the
screenshot below. In each cell, the first number represents your points and second
number represents the points of your associate. You can also see your current
average score (number of points divided by the number of rounds played) written
below the game. The history of your choices and points obtained will also be
available in the chat box.
          
          <div>
                  <img src="/images/tutorial/screenshot6.png" style="display: block;"  class='col-md-12'/>
      </div>
                            </div>

                            <div id='page8' style='display:none'>
                              <p> <b> YOUR EARNINGS</b>
          The amount in dollars that you have earned by each round of the game is calculated
          by multiplying your total points thus by $0.01. The result is also displayed below the
          game.
          
          <div>
              <img src="/images/tutorial/screenshot7.png" style="display: block; margin: 0 auto;" />
      </div>


          <p> <b> YOUR FEEDBACK</b>
          At the end of the game, you will be asked to fill a survey regarding your decisions in
          the game.
                            </div>

                      
                            <div id='page9' style='display:none'>
                              <p><b>Note the circumstances in which participants will not be paid:</b>
          <ol><li>Once in the waiting room, they leave the waiting room before the waiting room timer runs out. </li>
          <li>Once in a game, they try to return an assignment or stop/close a game at any time before the final payment screen.</li>

          <li>Playing the game more than once.</li>

          </ol>


                </div>

                      
                            <div id='page10' style='display:none'>
                  
                  <b>We hope the tutorial was useful. You will start the game, once you submit correct answers to all the following questions.</b>
                  <img src="/images/tutorial/actionPhase.png" class='col-md-12' style="display: block; margin: 0 auto;" />
                  <form class='form' method='post' action='./entryMain' id='submissionForm' onSubmit="return validateAnswers();">
                            <div class="form-group">
                           <label>1.  How much do you get if you choose action A while your associate chooses action B</label>
                           
                            <label class="radio-inline">
                  <input type="radio" name="1" value="3"> 3
                  </label>
                          <label class="radio-inline">
                      <input type="radio" name="1" value="5"> 5
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="1" value="0"> 0
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="1" value="1"> 1
                    </label>
                    
                  </div>

                    <div class="form-group">
                    <label>2.  How much do you get if you choose action B and your associate chooses action B</label>
                            <label class="radio-inline">
                  <input type="radio" name="2" value="3"> 3
                  </label>
                          <label class="radio-inline">
                      <input type="radio" name="2" value="5"> 5
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="2" value="0"> 0
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="2" value="1"> 1
                    </label>
                  </div>

                  <div class="form-group">
                    <label>3. How many questions can you ask the Bot in each round?</label>
                            <label class="radio-inline">
                  <input type="radio" name="3" value="1"> 1
                  </label>
                          <label class="radio-inline">
                      <input type="radio" name="3" value="2"> 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="3" value="3"> 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="3" value="4"> 4
                    </label>
                  </div>

                <div class="form-group text-center">
                  <button class='btn btn-default' type='submit'>Submit </button>
                </div>
              </form>

                  </div>
                  <div class="panel-footer" >
                    <button id='pageprevious' style='display:none'>Previous</button>
                    <button id='pagenext' >Next</button>
                    <button id='pagesubmit' style='display:none'>Submit</button>
                  </div>
                </div>
        </div>



    </div>  
</div>


<script src="/javascripts/PostExperiment.js"></script>
<script type="text/javascript">
var pagesHeader = ['INTRODUCTION', 'YOUR ASSOCIATE', 'YOUR CHOICES', 'YOUR TEACHER', 'QUESTION 2', 'QUESTION 3', 'YOUR POINTS', 'YOUR EARNINGS AND FEEDBACK', 'DISQUALIFICATION', 'QUIZ'];
new Quiz('page', 10, true, false, false, pagesHeader);
</script>
</body>
</html>